{% extends 'base.html' %}

{% block title %}My Data{% endblock %}
{% block page_title %}My Data{% endblock %}

{% block content %}
<div class="container py-4">
  <div class="mb-5">
    <div>
      <div>
        <h2>Income & Budgets</h2>
      </div>
    
      <div id="notificationBudget">
        <!-- Notification messages will be displayed here. -->
      </div>
    
      <div>
        <form id="incomeBudgetForm" method="POST">
            {{ inc_budget_form.hidden_tag() }}
            
          <div class="row">
            <div class="col-md-4">
              <div class="mb-3">
                {{ inc_budget_form.income.label(class="form-label") }}
                {{ inc_budget_form.income(class="form-control") }}
              </div>
            </div>
          </div>

          <div class="row g-3">
            <div class="col-md-4">
              <div class="mb-3">
                {{ inc_budget_form.food_budget.label(class="form-label") }}
                {{ inc_budget_form.food_budget(class="form-control") }}
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                {{ inc_budget_form.rent_budget.label(class="form-label") }}
                {{ inc_budget_form.rent_budget(class="form-control") }}
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                {{ inc_budget_form.utilities_budget.label(class="form-label") }}
                {{ inc_budget_form.utilities_budget(class="form-control") }}
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                {{ inc_budget_form.shopping_budget.label(class="form-label") }}
                {{ inc_budget_form.shopping_budget(class="form-control") }}
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                {{ inc_budget_form.entertainment_budget.label(class="form-label") }}
                {{ inc_budget_form.entertainment_budget(class="form-control") }}
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                {{ inc_budget_form.other_budget.label(class="form-label") }}
                {{ inc_budget_form.other_budget(class="form-control") }}
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                {{ inc_budget_form.goal1_budget.label(class="form-label") }}
                {{ inc_budget_form.goal1_budget(class="form-control") }}
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                {{ inc_budget_form.goal2_budget.label(class="form-label") }}
                {{ inc_budget_form.goal2_budget(class="form-control") }}
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                {{ inc_budget_form.goal3_budget.label(class="form-label") }}
                {{ inc_budget_form.goal3_budget(class="form-control") }}
              </div>
            </div>
            <div class="col-12">
              <div>
                {{ inc_budget_form.submit(class="btn btn-light") }}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    
    <div style="margin-top: 20px;">
      <h2>Transactions</h2>
    
      <form id="transactionForm" method="POST" class="row g-2 align-items-end">
        {{ transaction_form.hidden_tag() }}
    
        <div class="col-auto">
          {{ transaction_form.name(class="form-control", placeholder="Transaction Name") }}
        </div>
        <div class="col-auto">
          {{ transaction_form.category(class="btn btn-light dropdown-toggle") }}
        </div>
        <div class="col-auto">
          {{ transaction_form.amount(class="form-control", placeholder="Amount") }}
        </div>
        <div class="col-auto">
          {{ transaction_form.submit(class="btn btn-light") }}
        </div>
      </form>
    
      <div id="notificationTransaction" style="margin-top: 20px;">
        <!-- Notification messages will be displayed here. -->
      </div>
    
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="table-light">
            <tr>
              <th>Transaction Name</th>
              <th>Category</th>
              <th>Amount</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="transactionTableBody">
            <!-- Transactions added dynamically here. -->
          </tbody>
        </table>
      </div>
    </div>
    
  </div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    fetch("{{ url_for('get-income-budget') }}", {
        method: "GET",
        credentials: "include"
    })
    .then(response => response.json())
    .then(data => {
        if(data.status === "success") {
            const budget = data.income_budget;
            document.querySelector("#incomeBudgetForm input[name='income']").value = budget.income;
            document.querySelector("#incomeBudgetForm input[name='food_budget']").value = budget.food;
            document.querySelector("#incomeBudgetForm input[name='rent_budget']").value = budget.rent;
            document.querySelector("#incomeBudgetForm input[name='utilities_budget']").value = budget.utilities;
            document.querySelector("#incomeBudgetForm input[name='shopping_budget']").value = budget.shopping;
            document.querySelector("#incomeBudgetForm input[name='entertainment_budget']").value = budget.entertainment;
            document.querySelector("#incomeBudgetForm input[name='other_budget']").value = budget.other;
            document.querySelector("#incomeBudgetForm input[name='goal1_budget']").value = budget.goal1;
            document.querySelector("#incomeBudgetForm input[name='goal2_budget']").value = budget.goal2;
            document.querySelector("#incomeBudgetForm input[name='goal3_budget']").value = budget.goal3;
        }
    })
    .catch(error => console.error("Error fetching budget:", error));
  });

  document.getElementById('incomeBudgetForm').addEventListener('submit', function(event) {
    event.preventDefault();
    const form = event.target;
    const formData = new FormData(form);

    fetch("{{ url_for('set-income-budget') }}", {
      method: "POST",
      body: formData
    })
    .then(response => response.json())
    .then(data => {
      const notification = document.getElementById('notificationBudget');
      notification.innerHTML = "";

      const alertDiv = document.createElement('div');
      if (data.status === "success") {
        alertDiv.className = "alert alert-success";
      } else {
        alertDiv.className = "alert alert-danger";
      }
      alertDiv.innerHTML = data.message;
      notification.appendChild(alertDiv);
    });
  });

  function refreshTransactions() {
    fetch("{{ url_for('get-transactions') }}", {
    method: "GET",
    credentials: "include"
    })
    .then(response => response.json())
    .then(data => {
      if (data.status === "success") {
        const tableBody = document.getElementById('transactionTableBody');
        tableBody.innerHTML = "";
        data.transactions.forEach(transaction => {
          const tableRow = document.createElement('tr');
          tableRow.innerHTML = `<td>${transaction.name}</td> <td>${transaction.category}</td> <td>${transaction.amount}</td> <td><button class="btn btn-dark btn-delete" data-id="${transaction.id}">Delete</button></td>`;
          tableBody.appendChild(tableRow);
        });
        deleteTransaction();
      }
    })
    .catch(error => console.error('Error:', error));
  }

  function deleteTransaction() {
    document.querySelectorAll('.btn-delete').forEach(button => {
      button.addEventListener('click', function() {
        const transactionId = this.getAttribute('data-id');
        fetch("{{ url_for('delete-transaction', transaction_id=0) }}".replace('0', transactionId), {
          method: "DELETE",
          credentials: "include"
        })
        .then(response => response.json())
        .then(data => {
          const notification = document.getElementById('notificationTransaction');
          notification.innerHTML = "";
          const alertDiv = document.createElement('div');
          if (data.status === "success") {
            alertDiv.className = "alert alert-success";
            refreshTransactions();
          } else {
            alertDiv.className = "alert alert-danger";
          }
          alertDiv.innerHTML = data.message;
          notification.appendChild(alertDiv);
        })
        .catch(error => console.error('Error:', error));
      });
    });
  }
      
  document.getElementById('transactionForm').addEventListener('submit', function(event) {
    event.preventDefault();
    const form = event.target;
    const formData = new FormData(form);

    fetch("{{ url_for('add-transaction') }}", {
      method: "POST",
      body: formData
    })
    .then(response => response.json())
    .then(data => {
      const notification = document.getElementById('notificationTransaction');
      notification.innerHTML = "";

      const alertDiv = document.createElement('div');
      if (data.status === "success") {
        alertDiv.className = "alert alert-success";
        refreshTransactions();
      } else {
        alertDiv.className = "alert alert-danger";
      }
      alertDiv.innerHTML = data.message;
      notification.appendChild(alertDiv);
    })
    .catch(error => console.error('Error:', error));
  });

  refreshTransactions();
</script>
{% endblock %}