{% extends 'base.html' %}

{% block title %}Profile{% endblock %}
{% block page_title %}Settings{% endblock %}

{% block content %}
    <div>
        <h1>Profile</h1>
        
        <h3>{{ username }}</h3>
        
        <div id="account-settings">
            <form method="POST" action="/api/settings" id="settings-form">
                {{ form.hidden_tag() }}
                
                <div>
                    {{ form.new_password.label }}<br>
                    {{ form.new_password(size=32) }}<br>
                </div>
                
                <div>
                    {{ form.currency.label }}<br>
                    {{ form.currency() }}<br>
                </div>
                
                <br>
                {{ form.save() }}
            </form>
        </div>

        <form method="POST" action="/" style="text-align: right;">
            <button type="submit" onclick="return confirm('this feature does not exist yet');">Delete Account</button>
        </form>
    </div>
{% endblock %}